.opened {
  animation-name: open;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes open {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.closed {
  animation-name: close;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes close {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}
